<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <br>

        <template v-if="tex==' '">
            <font size="10">{{  random()  }}</font>
            <br><br>

            <button v-for="box in box" @click=check(box)>
                {{  box }}
            </button><br>  
            {{tex}}   
        </template>
        
        <template v-if="tex=='น้อยไป'">
            <font size="10">{{  numm  }}</font>
            <br><br>

            <button v-for="box in box" @click=check(box)>
                {{  box  }}
            </button><br>
        {{ tex }}
        </template>


        <template v-if="tex=='มากไป'">
            <font size="10">{{  numm  }}</font>
            <br><br>

            <button v-for="box in box" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ tex }}
        </template>


        <template v-if="tex=='ถูกต้องง'">
            <font size="10">{{  random()  }}</font>
            <br><br>

            <button v-for="box in box" @click=check(box)>
                {{  box  }}
            </button><br>
            {{ tex }}
        </template>


       

    </div>
    <script>
          var app = new Vue({
            el: '#app',
            data: {
                numm: 0,
                box: [0,1,2,3,4,5,6,7,8,9],
                tex:" "
            },
            methods: {
                check: function(num){
                    if(num<this.numm){
                        this.tex = 'น้อยไป'
                    }else if(num>this.numm){
                        this.tex = 'มากไป'
                    }else if(num==this.numm){
                        this.tex = 'ถูกต้องง'
                    }
                },
                random: function() {
                    random = Math.floor(Math.random()*10);
                    this.numm = random;
                    return this.numm
                }
                },
            computed: {
                
            }
        });
    </script>
    
</body>
</html>